body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

textoInicial p {
    text-align:center;
}

.caixa{
    
    width: auto;
    margin: 0 auto;
   padding: 50px;
 
}


.campo input{
  margin-left: 4px;
  width:auto;
}

.campo2 input{
    width:auto;
}

.textoInicial p{
    text-align: center;
    font-size: xx-large;
}